body{
    display: flex;
    font-family: Helvetica;
    background-color: #61b9dc;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    gap: 20px;
}
.calculator{
    border: solid 1px rgb(15, 13, 13);
    border-radius: 30px;
    padding: 30px;
    background-color:grey;
    
}
h1{
    font-family: Poppins, sans-serif;
    font-weight: 900;
}
.display{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: black;
    font-size: 40px;    
    color:white;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px rgb(246, 240, 240);
    justify-content: center;
    text-align: right;
    border-radius: 15px;
    min-height: 40px;
}
button{
    font-size: 20px; 
    border-radius: 15px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    border-radius: 15px; 
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: lightgray ;
    transition: transform 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
button:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
button:active{
    transform: scale(0.95); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.operators{
    background-color: palevioletred;
    color:white;
}
.buttons{/*buttons is a container wrapped around buttons*/
    display:grid;
    grid-template-columns: 70px 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px;
    grid-gap: 10px;
}